@import './variabels';
@import './responsive';

.btn {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;

  @include breakpoint(md) {
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  @include breakpoint(lg) {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

.btn-danger {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.btn-outline-danger {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.btn-primary {
  background: $primaryColor !important;
  border: none;
}
.btn-primary:hover {
  border-color: $secondaryColor !important;
  background: $secondaryColor !important;
}

.btn-secondary {
  background: $secondaryColor !important;
  border: none;
}
.btn-secondary:hover {
  border-color: $primaryColor !important;
  background: $primaryColor !important;
}

.btn-secondary:active {
  border-color: $primaryColor !important;
  background: $primaryColor !important;
}

.btn-outline-primary:hover {
  border-color: $secondaryColor !important;
  background: $secondaryColor !important;
}

.card {
  border-color: #ccc !important;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.044),
    0 6px 12px 0 rgba(0, 0, 0, 0.074) !important;
}

.progress-bar {
  background: $primaryColorLight !important;
  border-radius: 0 !important;
  & & {
    border-radius: 0 !important;
  }
}
